* {
    background-color: aliceblue;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(44, 39, 39);
}

#container {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px orchid;
}

#commands {
    padding: 25px;
}

button {
    background-color: lightcoral;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px;
}

button:hover {
    background-color: rgb(152, 141, 141);
}

.red:hover {
    background-color: rgb(213,38,38);
}

.green:hover {
    background-color: rgb(21,196,21);
}

.item {
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: rgb(213, 38, 38);
    color: white;
}

.item-b {
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: rgb(213, 38, 38);
    color: white;
}

.item-c {
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: rgb(21, 196, 21);
    color: white;
}


#input-text {
    width: 50vh;
    border-radius: 10px;
    padding: 15px;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}